

/*=========================================================*/
/* Max 1400 - View */
/*=========================================================*/
@media (max-width: 1400px) {
	.objects-center,
    .our-service.objects-car .objects-left,
    .our-service.objects-car .objects-right {
    	display: none;
    }
    .our-service.objects-car {
    	padding-bottom: 20px;
    }
    .objects-left.left .objects-1 {
    	left: -480px;
    }
    .objects-right.right .objects-2 {
    	right: -480px;
    }
    .latest-blog.objects-car .objects-1,
    .latest-blog.objects-car .objects-2 {
    	display: none;
    }
    .objects-car.why-choose .objects-1,
    .objects-car.why-choose .objects-2 {
    	display: none;
    }
    .object-right-bottom > div {
    	background-position: left bottom !important;
    	background-size: cover;
    }
    .object-left-bottom > div {
    	background-position: right bottom !important;
    	background-size: cover;
    }
}

/*=========================================================*/
/* Max 1272 - View */
/*=========================================================*/
@media (max-width: 1272px) {

	.play-video.top .video-info { margin-top: -200px; }

    /*========================================*/
	/* Vehicles Carousel - Shortcode */
	/*========================================*/


	/*========================================*/
	/* Counter - Shortcode */
	/*========================================*/
	.counter.counter-style-1.counter-light ul li {
		padding: 20px 30px;
	}

}

/*=========================================================*/
/* Max 1200 - View */
/*=========================================================*/
@media (max-width:1200px) {

	/*========================================*/
	/* Blog - Shortcode */
	/*========================================*/
    .blog-2 .blog-admin-main{
    	padding-left: 0;
    }
    .blog-2 .blog-admin-main .blog-admin{
    	padding-left: 20px;
    }
    .blog-2 .blog-admin-main .blog-meta > ul{
    	padding-left: 0;
    	margin-left: 0;
    	text-align: center;
    }
    .blog-2 .blog-admin-main .blog-meta > ul li:first-child {
    	border-left: none;
    }
}

/*=========================================================*/
/* Max 1025 - View */
/*=========================================================*/
@media (max-width:1025px) {

	.section-title {
        margin-bottom: 40px;
    }

}

/*=========================================================*/
/* Max 992 - View */
/*=========================================================*/
@media (max-width:992px) {

	/*========================================*/
	/* Vehicles Carousel - Shortcode */
	/*========================================*/
	.car-item .car-list li {
		padding: 0 4px;
	}

	/*========================================*/
	/* Left and Right Image - Setting */
	/*========================================*/
	.objects-left,
    .objects-right {
    	display: none;
    }

    /*----------------------*/
    /* Content Box */
    /*----------------------*/
    .content-box {
    	margin-bottom: 30px;
    }
    .content-box-2.car-bg-1,
    .content-box-2.car-bg-2,
    .content-box-2.car-bg-3 {
    	padding: 30px 30px 30px;
    }
    .content-box-3 {
    	padding-top: 0px;
    }
    .content-box-3 img {
    	display: none;
    }

	/*========================================*/
	/* Blog - Shortcode */
	/*========================================*/
	.blog-1 img {
		width: 100%;
		margin-bottom: 30px;
	}
    .blog-1 .blog-content {
    	padding-left: 0px;
    }
    .blog-2 {
    	margin-bottom: 30px;
    }
    .masonry-item .blog-2 {
    	margin-bottom: 0px;
    }

    /*========================================*/
	/* Team - Shortcode */
	/*========================================*/
	.team-2 .team-info {
		min-height: 200px;
	}

    /*========================================*/
	/* Counter - Shortcode */
	/*========================================*/
	.counter .counter-block {
		margin-bottom: 30px;
	}
	.counter.counter-style-1.counter-light ul {
		display: inline-block;
		width: 100%;
		background: #ffffff;
	}

	/*========================================*/
	/* Testimonial - Shortcode */
	/*========================================*/
	.testimonial-2 .testimonial-center {
		width: 100%;
	}
	.testimonial-5 .testimonial-content {
		padding: 0;
	}

	/*========================================*/
	/* Opening Hours - Shortcode */
	/*========================================*/
	.opening-hours strong {
		width: 90px;
	}

	/*========================================*/
	/* Timeline - Shortcode */
	/*========================================*/
	.timeline:before {
		left: 25px;
	}
    .timeline > li > .timeline-badge {
    	left: 25px;
    }
    .timeline > li > .timeline-panel {
    	width: 100%;
    }
    .timeline > li.timeline-inverted > .timeline-panel:before {
    	left: -15px;
    }
    .timeline > li > .timeline-panel:before {
    	border-left-width: 0;
    	border-right-width: 15px;
    	left: -15px;
    	right: auto;
    }
    .timeline > li > .timeline-panel:after {
    	border-left-width: 0;
    	border-right-width: 14px;
    	left: -14px;
    	right: auto;
    }
    .timeline > li:not(.timeline-inverted) {
    	padding-right: 0px;
    	padding-left: 90px;
    }

    /*========================================*/
	/* Quick Link - Shortcode */
	/*========================================*/
    .q-link h6 {
    	font-size: 12px;
        line-height: 20px;
    }

    /*========================================*/
	/* Potenza Vehicles Search - Shortcode */
	/*========================================*/
	.slider-content.vehicle-search-section .search-tab {
		padding-top: 60px;
	}
    .slider-content.vehicle-search-section .search-tab .cardealer-tabcontent .nice-select {
    	margin-bottom: 20px;
    }

    /*========================================*/
	/* Potenza Vehicles by Type - Shortcode */
	/*========================================*/
	.search-logo h6 {
		display: block;
		margin-bottom: 10px;
	}
    .search-logo ul.tabs {
    	float: none;
    }

    /*========================================*/
	/* Potenza Custom Menu - Shortcode */
	/*========================================*/
	.potenza-custom-menu.horizontal {
		display: none;
	}

    /*========================================*/
    /* Tab Verticla - Shortcode */
    /*========================================*/
    .tab-vertical.tabs-left .left-tabs-block {
        width: 27%;
    }
    .tab-vertical.tabs-left .tab-content {
        width: 70%;
    }
    .tab-vertical.tabs-left .tab-content .tab-pane .grid-item {
        width: 48%;
    }

    .play-video.top .video-info {margin-top: -130px;}
}

/*=========================================================*/
/* Max 767 - View */
/*=========================================================*/
@media (max-width: 767px) {

	/*========================================*/
	/* Section Title - Shortcode */
	/*========================================*/
	.section-title.text-center .separator + p {
		padding: 0 15px;
	}
    .section-title {
    	margin-bottom: 40px;
    }
    .section-title h2 {
    	font-size: 30px;
    }
    .section-title.style_2 span {
    	font-size: 30px;
    }

	/*========================================*/
	/* Left and Right Image - Setting */
	/*========================================*/

    /*----------------------*/
    /* Content Box */
    /*----------------------*/
    .content-box-2.car-bg-1,
    .content-box-2.car-bg-2 {
        margin-bottom: 30px;
    }
    .content-box-2.car-bg-1,
    .content-box-2.car-bg-2,
    .content-box-2.car-bg-3 {
        background-size: cover;
        background-position: center;
    }

    /*========================================*/
	/* Vehicles Carousel - Shortcode */
	/*========================================*/
	.car-item-2 .car-list ul li {
        margin-bottom: 3px;
    }

    /*========================================*/
	/* Newsletter - Shortcode */
	/*========================================*/
    .news-letter-main {
        display: block;
    }
	.news-letter-main .news-letter-form {
		padding: 0;
		margin-top: 20px;
	}

	/*========================================*/
	/* Blog - Shortcode */
	/*========================================*/
	.masonry-item .blog-2 {
		margin-bottom: 50px;
	}
	.blog-2 .blog-admin-main .blog-meta.pull-right {
		display: initial;
		float: right !important;
		border-top: 0px solid #e3e3e3;
	}

    /*========================================*/
	/* Testimonial - Shortcode */
	/*========================================*/
	.testimonial-1 .testimonial-block .testimonial-image img {
        width: 100%;
    }
	.testimonial-3 .testimonial-content{
        padding-top: 50px;
    }
    .testimonial-3 .owl-carousel .owl-item img {
        width: 200px;
        margin: 0 auto;
        margin-bottom: -35px;
        position: relative;
        z-index: 9;
    }
    .testimonial-4 .testimonial-block p {
    	padding: 0px;
    }

    /*========================================*/
	/* Feature Box - Shortcode */
	/*========================================*/
	.feature-box-2.box-hover {
        margin-bottom: 30px;
    }
    .inner-service .feature-box-2 {
    	border: 0px;
    	padding: 20px 30px;
    }
    .feature-box.round-icon.right .content {
    	float: right;
    }
    .feature-box.right-align {
    	text-align: left;
    }
    .feature-box.style-10 img {
    	width: 100%;
    }

    /*========================================*/
	/* Isotope Filters - Shortcode */
	/*========================================*/
	.recent-vehicle .isotope.column-4 .grid-item,
    .recent-vehicle .isotope.column-5 .grid-item {
    	width: 50%;
    }

    /*========================================*/
	/* Play Video - Shortcode */
	/*========================================*/
	.play-video.top .video-info {
		margin-top: 30px;
	}
    .play-video .video-info a {
    	width: 70px;
    	height: 70px;
    }
    .play-video .video-info a i {
    	width: 50px;
    	height: 50px;
    	line-height: 52px;
    }
    .play-video .play-video-bg {
    	padding: 100px 0 190px;
    }

    /*========================================*/
	/* Quick Link - Shortcode */
	/*========================================*/
    .q-link i {
    	font-size: 16px;
    	height: 50px;
    	line-height: 50px;
    	width: 50px;
    	margin-bottom: 0px;
    }
    .q-link h6 {
    	display: none;
    }

    /*========================================*/
	/* Recent Post : Tab Vertical - Shortcode */
	/*========================================*/
	.tab-vertical.tabs-left .left-tabs-block {
		width: 100%;
		margin-right: 0;
	}
    .tab-vertical.tabs-left .tab-content {
    	width: 100%;
    }
    .tab-vertical.tabs-left .tab-content .tab-pane .grid-item {
    	width: 49%;
    }
    .tab-vertical.tabs-left .tab-content .tab-pane .grid-item:nth-child(3n) {
    	margin-right: 2%;
    }
    .tab-vertical.tabs-left .tab-content .tab-pane .grid-item:nth-child(even) {
    	margin-right: 0;
    }

    /*========================================*/
	/* Potenza Vehicles Search - Shortcode */
	/*========================================*/
	.slider-content.vehicle-search-section .search-tab h6 {
		display: block;
		margin-bottom: 10px;
	}

	/*========================================*/
	/* Potenza Custom Filters - Shortcode */
	/*========================================*/
	.search-block.search-logo {
		text-align: center;
		padding: 15px;
	}
    .search-block.search-logo .sort-filters-box > div {
    	width: 100%;
    	float: none;
    }
    .search-logo ul.tabs {
    	text-align: center;
    }

    /*===============================================*/
	/* Potenza Vehicles Conditions Tabs - Shortcode */
	/*===============================================*/
	.cars_condition_carousel-wrapper .cardealer-tabs h6 {
		display: block;
		text-align: center;
	}
    .cars_condition_carousel-wrapper .cardealer-tabs .tabs {
    	float: none !important;
    	margin-bottom: 10px;
    	display: block;
    	text-align: center;
    }
}

/*=========================================================*/
/* Max 600 - View */
/*=========================================================*/
@media (max-width: 600px) {

	/*========================================*/
	/* Left and Right Image - Setting */
	/*========================================*/

    /*----------------------*/
    /* Content Box */
    /*----------------------*/
    .content-box-5 p {
        padding-right: 30px;
    }
    .content-box-5 .content-info {
        padding-left: 20px;
    }

    /*========================================*/
	/* Potenza Vehicles Search - Shortcode */
	/*========================================*/
	.slider-content.vehicle-search-section .search-tab .cardealer-tabcontent form > [class^="col-"] {
		display: inline-block;
		width: 100%;
	}
}

/*=========================================================*/
/* Max 479 - View */
/*=========================================================*/
@media (max-width: 479px) {

    /*========================================*/
    /* Custom Block - Shortcode */
    /*========================================*/
    .custom-block-1 {
        padding: 0px;
    }

    /*========================================*/
    /* Blog - Shortcode */
    /*========================================*/
    .blog-2 .blog-admin-main {
        padding-left: 0;
    }
    .blog-2 .blog-admin-main .blog-meta.pull-right {
        display: block;
        float: none !important;
        border-top: 1px solid #e3e3e3;
    }
    .blog-2 .blog-admin-main .blog-admin {
        padding-left: 20px;
    }
    .blog-2 .blog-admin-main .blog-meta > ul {
        padding-left: 0;
        margin-left: 0;
        text-align: center;
    }
    .blog-2 .blog-content .blog-meta ul li {
        text-align: left;
        width: 49.3333%;
    }
    .blog-2 .blog-admin-main .blog-meta > ul li:first-child {
        border-left: none;
    }
    .blog-2 .blog-content .blog-meta ul li.share {
        text-align: right;
    }

    /*========================================*/
    /* Counter - Shortcode */
    /*========================================*/
    .counter.counter-style-1.counter-light ul li {
        float: none;
        display: inline-block;
        width: 100%;
    }
    .counter.counter-style-1.counter-light ul li:nth-child(1),
    .counter.counter-style-1.counter-light ul li:nth-child(2) {
        border: 0px;
    }
    .counter.counter-style-1.counter-light .icon {
        display: block;
        text-align: center;
    }
    .counter.counter-style-1.counter-light .info {
        display: block;
        text-align: center;
    }

    /*----------------------*/
    /* Counter Icon Right */
    /*----------------------*/
    .counter.icon.right .icon {
        float: left;
        padding-left: 0;
        padding-right: 20px;
    }
    .counter.icon.right .content {
        float: left;
        text-align: left;
    }

    /*========================================*/
    /* Testimonial - Shortcode */
    /*========================================*/
    .testimonial-2 .testimonial-content {
        padding: 30px 20px;
    }

    /*========================================*/
    /* Recent Post : Tab Vertical - Shortcode */
    /*========================================*/
    .tab-vertical.tabs-left .tab-content .tab-pane .grid-item {
        width: 100%;
        margin-right: 0;
    }
    .tab-vertical.tabs-left .tab-content .tab-pane .grid-item:nth-child(3n) {
        margin-right: 0%;
    }

    /*========================================*/
    /* Play Video - Shortcode */
    /*========================================*/
    .play-video .play-video-bg {
        padding: 80px 0 100px;
    }

    /*========================================*/
    /* Potenza Custom Filters - Shortcode */
    /*========================================*/
    .search .search-block {
        padding: 25px 20px 25px;
    }

    /*========================================*/
    /* Quick Links - Shortcode */
    /*========================================*/
    .q-link {
        flex: none;
        width: 33.3333%;
        min-width: 33.3333%;
        padding: 20px 10px;
        float: left;
    }
    .q-link.box-hover:hover {
        padding-bottom: 20px;
    }

}